* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    background: gray;
    height: 75px;
    align-items: center;
    justify-content: center;
}

nav * {
    margin-right: 25px;
}

.personal_tag {
    position: relative;
    display: inline-block;
}

.profile_actions {
    display: none;
    position: absolute;
    width: 250px;
    border: solid red;
    background: gray;
    z-index: 1;
}

.personal_tag:hover .profile_actions {
    display: block;
}